* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.form-11 {
  height: 100%;
  width: 25rem;
  border: 0;
  padding: 2.5rem 2rem;
  margin: 1rem;
}

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
  } */

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  /* margin-top: -6px; */
  font-size: 14px;
  /* margin-bottom: 20px; */
}

button {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
  } */
