.right {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  /* background-color: aquamarine; */
}
.forgot-password-container {
  /* border: 1px solid red; */
}
.left {
  height: 100vh;
  background-image: linear-gradient(45deg, #f046ff, #9b00e8);
}

.myLeftCtn {
  /* position: relative; */
  background-image: linear-gradient(45deg, #f046ff, #9b00e8);
  /* border-radius: 10px 0px 0px 10px;
    margin-right: 75px;
    margin-left: -1px; */
  height: 100vh;
  /* height: 100%; */
  padding: 1px;
  /* padding-left: 15px; */
}
.header {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.forgotPage {
  /* background-color: #ffffff; */
  color: rgb(247, 247, 253);
  font-weight: 650;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
  margin-bottom: 4px;
  text-align: center;
  width: 72px;
  line-height: 43px;
  height: 50px;
}
.activelink {
  background-color: #ffffff;
  color: rgb(99, 99, 245);
  font-weight: 650;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
  margin-bottom: 4px;
  text-align: center;
  width: 72px;
  line-height: 43px;
  height: 50px;
}
.p-2 {
  font-weight: 650;
  color: rgb(241, 245, 252);
}

.uldesign {
  margin-top: 10px;
  color: aliceblue;
  text-align: left;
  justify-items: left;
  font-size: small;
}
.uldesign-2 {
  text-align: right;
  font-size: small;
  height: 100vh;
  margin-right: -16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.ggg {
  margin-right: 5px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
.cutome-card {
  max-width: 400px;
  padding: 20px;
  border: none;
  margin: 0;
}

/* Field::-webkit-input-placeholder {
  text-align: right;
} */
input,
input::-webkit-input-placeholder {
  font-size: 15px;
  /* line-height: 4; */
}
input [type="password"].form-control:focus {
  box-shadow: none;
  /* outline: none; */
}
input[type="email"]:focus,
input[type="email"]:active:focus,
input[type="email"].active:focus {
  outline: none;
  box-shadow: none;
}
input[type="password"]:focus,
input[type="password"]:active:focus,
input[type="password"].active:focus {
  outline: 0;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
input.error {
  border-color: red;
}
span.error {
  border-color: red;
}
.input-feedback {
  color: rgb(235, 54, 54);
  /* margin-top: -6px; */
  font-size: 14px;
  /* margin-bottom: 20px; */
}
.input-feedback-1 {
  color: rgb(235, 54, 54);
  font-size: 14px;
  margin-right: 2px;
}
.input-group-prepend {
  background-color: none;

  /* background-color: aliceblue; */
}
.inpb {
  border-top: none;
  border-left: none;
  border-right: none;

  /* border-radius: none; */
  border-radius: 0px;
}
.butt {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  border: none;
  color: aliceblue;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  margin-top: 11px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}
.col-2 {
  /* border: 1px solid black; */
  align-items: center;
  padding: none;
  margin: none;
}

.fal {
  font-size: 15px;
}

.col-5 {
  /* border: 1px solid red; */
}
.face {
  color: #5c5959;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.goog {
  color: #5c5959;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.link-11 {
  display: flex;
  flex-direction: row-reverse;
}
span.psw {
  font-size: 14px;
}

/* profile page */

.left-container {
  height: 100vh;
  background-image: linear-gradient(45deg, #f046ff, #9b00e8);
}
.right1-container {
  height: 94vh;
  border-right: 1px solid rgb(230, 229, 229);
  margin: auto;
  /* margin-top: 18px;
  margin-bottom: 18px; */
  /* border: 1px solid red; */
}
.right2-container {
  /* border: 1px solid black; */
  height: 96vh;
}
.user-image-circle {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: rgb(244 244 244);
  border: 3px solid rgb(244 244 244);
  box-shadow: 0 0 0 2px rgb(210 205 205);
}
.user-name {
  font-size: 20px;
  color: #fcfdffc7;
}
.user-photolink {
  font-size: 15px;
  color: #acacac;
}
header {
  font-weight: 600;
  font-size: 15px;
}
.column-line {
  background-color: #f3f1f1c4;
  /* border: none; */
}
.label-all {
  margin-top: 10px;
}
.list-container {
  margin-left: 80px;
  color: #fcfdffc7;
  font-size: 16px;
}

.border-check {
  /* border: 1px solid red; */
  color: #545455a8;
  font-size: 15px;
}
.border-check-1 {
  margin-top: 8px;
  /* border: 1px solid red; */
}

.user-margin {
  margin-left: 55px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.email-margin {
  margin-left: 85px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.gender-margin {
  margin-left: 73px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.birthday-margin {
  margin-left: 68px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.job-margin {
  margin-left: 98px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.language-margin {
  margin-left: 55px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.country-margin {
  margin-left: 72px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.city-margin {
  margin-left: 97px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.current-margin {
  margin-left: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.new-margin {
  margin-left: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.cnfrm-margin {
  margin-left: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.facebook-margin {
  margin-left: 48px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.twitter-margin {
  margin-left: 74px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 22px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

.button-right {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  width: 225px;
  height: 38px;
  color: #fcfdffc7;
  line-height: 0px;
  justify-content: center;
  justify-items: center;
  /* border-radius: 34px; */
}
.button-right:focus {
  outline: none;
}
input[type="text"]:focus,
input[type="text"]:active:focus,
input[type="text"].active:focus {
  outline: none;
  box-shadow: none;
}
select[name="gender"]:focus,
select[name="gender"]:active:focus,
select[name="gender"].active:focus {
  outline: none;
  box-shadow: none;
}
input[type="date"]:focus,
input[type="date"]:active:focus,
input[type="date"].active:focus {
  outline: none;
  box-shadow: none;
}
select[name="langauge"]:focus,
select[name="langauge"]:active:focus,
select[name="langauge"].active:focus {
  outline: none;
  box-shadow: none;
}
select[name="country"]:focus,
select[name="country"]:active:focus,
select[name="country"].active:focus {
  outline: none;
  box-shadow: none;
}
select[name="city"]:focus,
select[name="city"]:active:focus,
select[name="city"].active:focus {
  outline: none;
  box-shadow: none;
}
input[type="link"]:focus,
input[type="link"]:active:focus,
input[type="link"].active:focus {
  outline: none;
  box-shadow: none;
}

.active-account-link {
  color: #ffffff;
  font-weight: 600;
  /* border: 1px solid red; */
}
.border-checker {
  /* border-top: none; */
  /* border-left: none; */
  border-right: 8px solid #ffffff;
  /* border-bottom: none; */
  /* border: 1px solid red; */
}

/* ------------------- Dashboard page ----------------- */

.dash-left {
  /* color: #9b00e8; */
  background-color: hsl(0, 0%, 100%);
  border-right: 1px solid #efeded;
  /* border: 1px solid red; */
  /* height: 10vh; */
}
.dash-right {
  /* background-color: brown; */
}
.redesign {
  font-weight: bold;
  /* border-right: 1px solid #80808096; */
  border-bottom: 1px solid #efeded;
  height: 40px;
}
.frannnk {
  font-size: 10px;
  background-color: blue;
  color: aliceblue;
  height: 35px;
  align-items: center;
  border-radius: 6px 6px 0px 0px;
}
.team-cl {
  border-left: 4px solid blue;
  background: linear-gradient(84deg, #75cbd875, #ffffff00);
  opacity: 0.7;
  position: relative;
  z-index: 1;
  color: #213cec;
}
.menu-items {
  height: 40px;
}
.fa-folder {
  margin-left: 28px;
}
.team-project {
  margin-left: 22px;
  z-index: 0;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: none;
  border: 1px solid red;
  border-radius: 50%;
  /* margin-bottom: 3px; */
  margin-right: 5px;
  display: inline-block;
}
.menu-tab {
  margin-left: 1px;
  font-size: 16px;
  font-weight: bold;
}

.column-line-1 {
  width: 225px;
  background-color: #efeded;
}
.column-line-2 {
  width: 225px;
}
.dot-2 {
  height: 10px;
  width: 10px;
  background-color: none;
  border: 1px solid rgb(6, 212, 109);
  border-radius: 50%;
  /* margin-bottom: 3px; */
  margin-right: 5px;
  display: inline-block;
}
.sun-bottom {
  margin-top: 14px;
}
.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill-2 {
  position: relative;
  width: 35px;
  height: 22px;
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill-2 {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
}

.toggle__fill-2::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background: #213cec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill-2::after {
  transform: translateX(22px);
}
.border-das-bottom {
  /* border: 1px solid red; */
  border-top: 1px solid #80808033;
  /* border-right: 1px solid #80808033; */
}
.number-radius {
  border: 1px solid rgb(212, 198, 180);
  border-radius: 12px;
  font-size: 9px;
  color: #9b00e8;
  text-align: center;
  height: fit-content;
}
.right-nav-row {
  border-bottom: 1px solid #efeded;
  height: 40px;
  background: rgb(255, 255, 255);
  /* border: 1px solid red; */
}
.has-search .form-control {
  padding-left: 2.375rem;
  border: none;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.dash-check {
  border: 1px solid red;
}
.dash-icon {
  height: 38px;
  justify-content: space-evenly;
}
.iconss {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.bell-cog {
  border-left: 1px solid #efeded;
  border-right: 1px solid #efeded;
  height: 38px;
  width: 10px;
  justify-content: center;
}
.bell-cog-2 {
  border-right: 1px solid #efeded;
  height: 38px;
  justify-content: center;
}
.dot-3 {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 12px;
  margin-left: -2px;
}
.dot-4 {
  height: 5px;
  width: 5px;
  background-color: #0dff0d;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -8px;
  margin-left: -18px;
  margin-right: 12px;
}
.fa-bell {
  margin-top: 10px;
  margin-left: 18px;
}
.fa-cog {
  margin-top: 10px;
  margin-left: 18px;
}

.logo-left {
  /* vertical-align: middle; */
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 12px;
}

.avatar {
  /* vertical-align: middle; */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 12px;
}

.never-stop {
  align-items: center;
  margin-top: 3px;
}
.avatar-2 {
  /* vertical-align: middle; */
  width: 42px;
  height: 42px;
  text-align: c;
  border-radius: 50%;
  margin-left: 45px;
  margin-bottom: 15px;
}
.card-container {
  background: #c8c4c44d;
}
.card {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 141px;
  height: 130px;
}
.card-text {
  font-size: 12px;
  font-weight: 550;
  text-align: center;
}
.card-text-2 {
  font-size: 9px;
  font-weight: 550;
  margin-top: -8px;
  text-align: center;
}
/* li {
  margin-right: 20px;
  border: 1px solid gray;
} */
.date-wise {
  margin-right: 5px;
  margin-left: 5px;
  height: 10px;
  /* border: 1px solid gray; */
}
.date-wise-1 {
  margin-right: 10px;

  /* border-right: 1px solid gray; */
}
.small-border {
  height: 1px;
}
.border-c {
  /* border: 1px solid green; */
  height: 30px;
  border-bottom: 1px solid #efeded;
}
.list-date {
  display: flex;
  list-style: none;
  margin-right: 100px;
  /* border-bottom: 1px solid #efeded; */
  justify-content: center;
}
.date-row {
  height: 50px;
}
.plus-icon {
  font-size: 26px;
  color: #213cec;
}
.status-container {
  background: rgb(255, 255, 255);
  margin-left: 80px;
  margin-right: 80px;
}
.ccc {
  /* border: 1px solid red; */
  margin-top: 40px;
  margin-bottom: 10px;
}
.fa-caret-right {
  color: blue;
  font-size: 20px;
  margin-left: 10px;
  /* margin-top: 3px; */
}
.month-text {
  font-size: 14px;
  font-weight: 600;
}
.vl {
  border-left: 1px solid #b3afaf;
  height: 8px;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
}
.month-style {
  border: 1px solid blue;
}
/* span {
  border: 1px solid #efeded;
  height: 0px;
  display: inline;
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
} */
.cccc {
  height: 60vh;
  overflow: hidden;
}
