* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fbf3ff;
}
.login-page {
  min-height: 400px;
}
.container {
  /* position: absolute;
  max-width: 70%;
  height: 500px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  height: 100vh;
  width: 100%;
}
.col-md-aa {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  margin-left: 16px;
  max-width: 40%;
}
.myRightCtn {
  /* position: relative; */
  /* background: #fff; */
  /* border-radius: 25px;
  height: 100vh; */
  /* padding: 25px;
  color: rgb(192, 192, 192); */
  font-size: 12px;
  display: flex;
  color: blueviolet;
  justify-content: center;
  align-items: center;
}
.myLeftCtn {
  /* position: relative; */
  background-image: linear-gradient(45deg, #f046ff, #9b00e8);
  /* border-radius: 10px 0px 0px 10px;
  margin-right: 75px;
  margin-left: -1px; */
  height: 100vh;
  /* height: 100%; */
  padding: 1px;
  /* padding-left: 15px; */
}
header {
  font-size: 20px;
  color: white;
  margin-left: 20px;
}
.uldesign {
  margin-top: 10px;
  color: aliceblue;
  font-size: small;
}
.uldesign-2 {
  color: aliceblue;
  text-align: right;
  font-size: small;
  height: 100vh;
  margin-right: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.af-11 {
  /* background-image: linear-gradient(45deg, #f046ff, #9b00e8); */
  border-radius: 0px 0px 8px 0px;
  text-align: right;
  justify-items: right;
  align-items: right;
}
Form {
  /* border: 3px solid #f1f1f1; */
  /* margin-left: 500px;
  margin-right: 500px;
  padding: 26px; */
  width: 25rem;
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0rem 0rem 0.75rem rgb(98 98 102 / 18%);
  border-radius: 0.5rem;
  padding: 2.5rem 2rem;
  border-radius: 0.625rem;
  margin-top: 5rem;
  /* margin-right: -7rem; */
  margin-bottom: 1rem;
  margin-left: 8rem;
}

.p-1 {
  background-color: #fbf3ff;
  color: blue;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
  margin-bottom: 4px;
  text-align: center;
  width: 72px;
  line-height: 43px;
  height: 50px;
}
.h111 {
  text-align: center;
  justify-content: center;
}
.ggg {
  margin-right: 5px;
}
.row {
  /* height: 100%; */
}
.myCard {
  /* position: relative;
  background: #fff;
  width: 85%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7); */
}
.myRightCtn header {
  color: #fff;
  font-size: 44px;
}
.inp[type="text"],
.inp[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  font-size: 14px;
  display: inline-block;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  /* margin-top: 10px; */
  padding: 14px 7px;
  margin-bottom: 16px;
  font-size: 14px;
  /* display: inline-block; */
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}
.input-group-texte {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.95rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
input {
  margin-bottom: 20px;
  padding: 10px;
}

input.error {
  border-color: red;
}
.input-feedback-1 {
  color: rgb(235, 54, 54);
  font-size: 14px;
}
.input-feedback {
  color: rgb(235, 54, 54);
  /* margin-top: -6px; */
  font-size: 14px;
  /* margin-bottom: 20px; */
}
/* .gradi {
  background-color: blue;
  background-image: linear-gradient(45deg, #000000, #af4261);
} */
.box {
  /* position: relative; */
  margin-left: 10px;
  margin-top: 10px;
}
.myRightCtn .myInput {
  padding: 10px;
  background: none;
  width: 94%;
  border: none;
  border-bottom: 1px solid #cecaca;
}
.input-group {
  /* margin-left: -12px; */
}
.myRightCtn .myInput:focus {
  outline: none;
}
/* .myForm {
  position: relative;
  margin-top: 50px;
} */
/* margin-bottom: 50px; */
h1 {
  margin-bottom: 20px;
}
.myRightCtn .butt {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: #fff;
  width: 230px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
.myRightCtn .butt:hover {
  background: linear-gradient(45deg, #c85bff, #b726ff);
}
.myRightCtn .butt:focus {
  outline: none;
}
.myRightCtn .fas {
  color: #afa8b3;
  font-size: 12px;
  margin-top: -14px;
}
.butt_out {
  background: transparent;
  color: #fff;
  width: 120px;
  border: 2px solid#fff;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}
.butt_out:hover {
  border: 2px solid#eecbff;
}
.butt_out:focus {
  outline: none;
}
.social {
  /* border-top: 1px solid #979595; */
  /* margin-top: 20px; */
}
.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  margin-left: -12px;
  font-size: 14px;
}
/* .input-group-text {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
} */
.form-group i {
  float: left;
  text-align: center;
}
.face {
  float: left;
  margin-left: 15px;
  /* margin-top: 15px; */
  color: #5c5959;
  font-weight: bold;
}
.goog {
  float: right;
  margin-right: 15px;
  /* margin-top: 15px; */
  color: #5c5959;
  font-weight: bold;
}
